@font-face {
	font-family: '1UP';
	src: url('../fonts/1up.eot');
	src: url('../fonts/1up.eot?#iefix') format('embedded-opentype'),
	url('../fonts/1up.woff') format('woff'),
	url('../fonts/1up.ttf') format('truetype'),
	url('../fonts/1up.svg#1up') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
body,
html {
	width: 100%;
	height: 100%;
	background-color: #121212;
}
body {
}
::-webkit-scrollbar {
	display: none;
}
hr {
	max-width: 100px;
	border-width: 2px;
	border-color: #ff0042;
}
hr.light {
	border-color: #fff;
}
a {
	color: #f0f0f0 !important;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	color: #f0f0f0 !important;
}
h1,
h2,
h3,
h4,
h5 {
}
h6 {
	display: inline;
}
h3 {
	color: #f0f0f0;
	font-size: 2em;
}
.text-faded {
	color: rgba(255, 255, 255, 0.7);
}
.section-heading {
	margin-top: 0;
}
section {
	padding: 8rem 0;
}
::-moz-selection {
	color: #fff;
	background: #ff0042;
	text-shadow: none;
}
::selection {
	color: #fff;
	background: #ff0042;
	text-shadow: none;
}
img::selection {
	color: #fff;
	background: transparent;
}
img::-moz-selection {
	color: #fff;
	background: transparent;
}
body {
	-webkit-tap-highlight-color: #f14a75;
}
.section-blank{
	height: 40vh;
	-webkit-box-shadow: inset 0px 0px 25px 10px rgba(0,0,0,0.40);
	-moz-box-shadow: inset 0px 0px 25px 10px rgba(0,0,0,0.40);
	box-shadow: inset 0px 0px 25px 10px rgba(0,0,0.40);
}
.sb1{
	background: url('../img/sb1.jpg') center center fixed;
}
.sb2{
	background: url('../img/sb2.jpg') center center fixed;
}
.sb3{
	background: url('../img/sb3.jpg') center center fixed;
}
.sb1, .sb2, .sb3 {
	background-size: cover;
	background-repeat: no-repeat;
}
header.masthead {
	min-height: 100%;
	padding-bottom: calc(10rem - 56px);
	background-color: #000000;
	background: url('../img/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header.masthead hr {
	margin-top: 30px;
	margin-bottom: 30px;
}
header.masthead h1 {
	font-size: 2rem;
}
header.masthead p {
	font-weight: 300;
}
@media (min-width: 768px) {
	header.masthead p {
		font-size: 1.15rem;
	}
}
@media (min-width: 992px) {
	header.masthead {
		height: 100vh;
		min-height: 650px;
		padding-top: 0;
		padding-bottom: 0;
	}
	header.masthead h1 {
		font-size: 3rem;
	}
}
@media (min-width: 1200px) {
	header.masthead h1 {
		font-size: 4rem;
	}
}
.service-box {
	max-width: 400px;
	color: white !important;
}
.portfolio-box {
	position: relative;
	display: block;
	max-width: 650px;
	margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	color: #ff0042;
	background: rgba(0, 0, 0, 0.9);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}
.portfolio-box:focus {
	outline: none;
}
@media (min-width: 768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		font-size: 16px;
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size: 22px;
	}
}


.text-primary {
	color: #000 !important;
}
.btn {
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 300px;
}
.btn-xl {
	padding: 1rem 2rem;
}
.btn-primary {
	background-color: #1DE9B6;
	border-color: #1DE9B6;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #fff;
	background-color: #ee4b28 !important;
}
.btn-primary:active,
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.logo {
	max-width: 75%;
	width: 25%;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	margin: auto;
}
.splash {
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
}
.bg-secondary {
	background-color: #439bff !important;
	color: white;
}
/* Map */

.map {
	padding: 1rem 0;
	max-width: 100%;
	padding-top: 0;
}
#to-top {
	display: none;
	position: fixed;
	bottom: 5px;
	right: 5px;
}
.downlogo {
	/*height: 3em;*/
	/*max-width: 12%;*/
	/*padding-top: 5%;*/
	fill:#ff0042;
}
.downlogo1{
	margin: 0 auto;
	width: 150px;
	margin-top: 3em;

}
.bounce {
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
	position: absolute;
}
/* Scroll down indicator (bouncing) */

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
	}
}
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-o-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.button-tabs .tab-title span {
}
h1,
h2,
h3,
h4 {
	letter-spacing: 0 !important;
	margin-right: 0 !important;
}
.italic {
	font-style: bolid;
}
{
	font-weight: 400;
}
.lead {
	font-size: 1.7rem;
	font-weight: 200;
	line-height: 2.5rem
}


.bg3 {
	background-color: #FFF;
	max-width: 100%;
}
#textscrambler {
	max-width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-weight: 100;
	font-size: 4em;
	color: #FAFAFA;
	font-family: 'Roboto Condensed';
}
.dud {
	color: #cf0237;
}
.text {
	width: 100%;
	text-align: left;
	height: 5em;
	font-size: 22px;
	margin: auto;
	display: inline;
	color: #333;
}
#about, #clientes{
	background-color: #121212;
	color:#f0f0f0;
	text-align: center;
	max-width: 100%;
	max-height: auto;
}

#about p::after {
	content: "";
	display: inline-block;
	height: 3px;
	width: 3px;
	background-color: #ff0042;
	transform: translate(1px, 1px);
}

#hacemos, #clientes{
	text-align: center;
	background-color: #121212;
	max-width: 100%;
	color: #F0F0F0;
}

#hacemos{
	background: url('../img/pinkback_p.jpg') repeat top right;

}
#clientes h2, #hacemos h2, #about h2{
	color: #f0f0f0;
	font-size: 3em;
	text-transform: uppercase;
	clear: none;
	display: inline-block;
}

#hacemos p{
	color: #f0f0f0;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.5rem;
	text-align: center;
}

#clientes span{
	color: #ff0042;
}
#clientes{}

@keyframes blink {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

canvas {
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	max-width: 100%;
	padding-left: 3.5vw;
}
.footer{
	background-color: #121212;
	color: #f0f0f0;
	min-width: 100vw;
	min-height: 200px;
	background: url('../img/footer.jpg') center bottom no-repeat;
	background-size: cover;
}
.footer a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.fa {
	color:#f0f0f0;
}
.footer a:hover {
	color: #ff0042 !important;
	}
	@media only screen and (max-width:767px) {
		#textscrambler{
			font-size:2.5em;
		}
		#about p, #clients p, #hacemos p {
			font-size: 1.2em;
			line-height: 1.6em;
		}
		canvas {
			/*padding: 0px;*/
			transform: translate(0, -10vh);
		}

		.sb1, .sb2, .sb3{
			background-size: 150% auto;

		}
	}
	.fa-6x{
		margin-bottom: 30px;
	}





	/*---------- GLITCH HOVER CSS -------- */

/*.oneup{
	font-size: 10em;
	font-family: '1UP';
	cursor: default;
	}*/

/*
.glitch {

  text-decoration: none;
  /*position: absolute;* /
  margin: 0;
  color: #fff;
}
.glitch:before, .glitch:after {
  display: block;
  content: attr(data-glitch);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
}
.glitch:after {
  color: #00ffbb;
  z-index: -2;
}
.glitch:before {
  color: #ff0042;
  z-index: -1;
}
.glitch:hover:before {
  -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 10;
          animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 10;
}
.glitch:hover:after {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 10;
}

@-webkit-keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 1px);
            transform: translate(-5px, 1px);
  }
  40% {
    -webkit-transform: translate(-5px, -1px);
            transform: translate(-5px, -1px);
  }
  60% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  80% {
    -webkit-transform: translate(5px, -1px);
            transform: translate(5px, -1px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 1px);
            transform: translate(-5px, 1px);
  }
  40% {
    -webkit-transform: translate(-5px, -1px);
            transform: translate(-5px, -1px);
  }
  60% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  80% {
    -webkit-transform: translate(5px, -1px);
            transform: translate(5px, -1px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
*/




/*
  Inspired in https://avicoder.me/
  */

  .oneup{
  	font-size: 10em;
  	font-family: '1UP';
  	cursor: default;
  	color: #f0f0f0;
  	margin: 0 auto;
  	line-height: 1em;
  	animation: glitch 3s steps(100) infinite;
  }

/*  .glitchUP:hover{
  	animation: glitch 3s steps(100) infinite;
  }*/

  @keyframes glitch { 
  	0% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	1% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	2% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	3% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	4% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	5% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	6% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	7% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	8% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	9% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	10% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	11% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	12% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	13% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	14% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	15% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	16% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	17% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	18% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	19% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	20% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	21% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	22% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	23% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	24% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	25% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	26% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0.5px);}
  	27% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0.5px);}
  	28% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	29% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	30% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	31% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	32% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	33% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	34% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	35% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0.5px);}
  	36% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0.5px);}
  	37% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0.5px);}
  	38% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	39% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	40% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	41% { text-shadow: 45px 0 0 #00ffbb, -45px 0 0 #ff0042; filter: blur(0);}
  	42% { text-shadow: 0 0 0 #00ffbb, 0 0 0 #ff0042; filter: blur(0);}
  	43% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	44% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	45% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	46% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	47% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0.5px);}
  	48% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	49% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	50% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	51% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	52% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	53% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	54% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	55% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0.5px);}
  	56% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0.5px);}
  	57% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0.5px);}
  	58% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	59% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	60% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	61% { text-shadow: 30px 0 0 #fb00ff, -30px 0 0 #ff0042; filter: blur(0);}
  	62% { text-shadow: 0 0 0 #fb00ff, 0 0 0 #ff0042; filter: blur(0);}
  	63% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #00ffbb; filter: blur(0);}
  	64% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #00ffbb; filter: blur(0);}
  	65% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #00ffbb; filter: blur(0);}
  	66% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #00ffbb; filter: blur(0.5px);}
  	67% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0.5px);}
  	68% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	69% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	70% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	71% { text-shadow: 50px 0 0 #fb00ff, -50px 0 0 #00ffbb; filter: blur(0);}
  	72% { text-shadow: 0 0 0 #fb00ff, 0 0 0 #00ffbb; filter: blur(0);}
  	73% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	74% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	75% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	76% { text-shadow: 3px 0 0 #fb00ff, -3px 0 0 #00ffbb; filter: blur(0);}
  	77% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	78% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	79% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	80% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #00ffbb; filter: blur(0);}
  	81% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	82% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0);}
  	83% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	84% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	85% { text-shadow: 1px 0 0 #fb00ff, -1px 0 0 #ff0042; filter: blur(0.5px);}
  	86% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0.5px);}
  	87% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0.5px);}
  	88% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	89% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	90% { text-shadow: -3px 0 0 #fb00ff, 3px 0 0 #ff0042; filter: blur(0);}
  	91% { text-shadow: 60px 0 0 #ff0042, -60px 0 0 #00ffbb; filter: blur(0);}
  	92% { text-shadow: 0 0 0 #ff0042, 0 0 0 #00ffbb; filter: blur(0);}
  	92% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	93% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	94% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	95% { text-shadow: 0.8px 0 0 #00ffbb, -0.8px 0 0 #ff0042; filter: blur(0);}
  	96% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	97% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	98% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	99% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);}
  	100% { text-shadow: -3px 0 0 #00ffbb, 3px 0 0 #ff0042; filter: blur(0);} }