/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #22F;
}
.navbar{
  text-transform: uppercase;
  overflow: hidden;
}
.nav-link:hover{
  animation: glitch 3s steps(100) infinite;
}

.nav-link{
    padding: 1rem!important;
}
.navbar-toggler{
  padding-left: 85vw;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 60px;
  height: 60px;
  position: absolute;
}

.small-logo {
  font-family: '1UP';
    cursor: default;
    color: #f0f0f0;
    line-height: 1em;
    animation: glitch 3s steps(100) infinite;
    font-size: 3em;
    padding-bottom: 2px;
}

